@model Shop.Models.RegisterViewModel

<body class="text-center">
        <div class="album py-5">
            <form method="post" asp-controller="Account" asp-action="Register" >
                <div asp-validation-summary="All" class="text-danger"></div>
                <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                <div class="container col-md-4 align-self-center">
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" class="form-control" placeholder="Логин" />
                    <span asp-validation-for="Email" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-control" placeholder="Пароль" />
                    <span asp-validation-for="Password" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="PasswordConfirm" class="sr-only"></label>
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="Подтвердите пароль" />
                    <span asp-validation-for="PasswordConfirm" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="PhoneNumber" class="sr-only"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Номер телефона" />
                    <span asp-validation-for="PhoneNumber" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="BirthDate" class="sr-only"></label>
                    <input asp-for="BirthDate" type="date" class="form-control" placeholder="Дата рождения" />
                    <span asp-validation-for="BirthDate" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="Interests" class="sr-only"></label>
                    <textarea asp-for="Interests" class="form-control" placeholder="Интересы"></textarea>
                    <span asp-validation-for="Interests" class="sr-only"></span>
                    <div class="album py-1"></div>
                    <label asp-for="Profession" class="sr-only"></label>
                    <select asp-for="Profession" class="form-control">
                        <option value="office-worker">Офисный работник</option>
                        <option value="photographer">Фотограф</option>
                        <option value="construction-worker">Рабочий строительной отрасли</option>
                        <option value="doctor">Врач</option>
                        <option value="teacher">Учитель</option>
                        <option value="engineer">Инженер</option>
                        <option value="student">Студент</option>
                        <option value="other">Другое</option>
                    </select>
                    <div class="album py-3"></div>
                </div>
                <button class="btn btn-dark col-md-3" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </body>